BODY
{
   font-size: small;
   font-family: Sans-Serif, Verdana;
}
H3
{
   margin-left: 15px;
}
P
{
   margin-left: 15px;
}
P.SubPara
{
   margin-left: 30px;
}
OL.SubList, UL.SubList
{
   margin-left: 60px;
}

OL OL
{
   list-style: lower-alpha;
}

OL OL OL
{
   list-style: lower-roman;
}

TABLE.SubPara
{
   margin-left: 30px;
}

TABLE
{
   margin-left: 15px;
}

TH
{
   background-color: tan;
}

TD
{
   background-color: papayawhip;
}