BODY
{
   font-size: small;
   font-family: Sans-Serif, Verdana;
}
H3
{
   margin-left: 15px;
}
P
{
   margin-left: 15px;
}
H3+P, H3+P+P, H3+P+P+P, H3+P+P+P+P, H3+P+UL+P, H3+P+UL+P+OL+P
{
   margin-left: 30px;
}
H3+P+UL, H3+P+UL+P+OL
{
   margin-left: 60px;
}

OL OL
{
   list-style: lower-alpha;
}

OL OL OL
{
   list-style: lower-roman;
}