<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- The following line is not necessary if you use the file named libfmodex.so,
       and it causes errors in .NET environments, so it's commented out. -->
  <!-- <dllmap os="linux" dll="fmodex" target="./libfmodex-4.22.01.so"/> -->
</configuration>